/* fontes de textos */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:wght@400;500;600;700&display=swap');

/* variáveis de estilo */
:root {
  /* fonts */
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-inter: 'Inter', serif;
  --font-calistoga: 'Calistoga', serif;

  /* cores */
  --cinza-fraco: #999999;
  --cinza-placeholder: #979797;
  --branco-texto: #FFFFFF;
  --preto-cinza: #2B2B2B;
  --preto-background: #141414;
  --preto-cinza-medium: #1F1F1F;
  --laranja-cor-botoes: #FE6A0F;

  /* animações */
  --transition-hover: all .3s ease-in;

  /* bordas */
  --border-radius-5px: 0.5rem;
  --border-radius-8px: 0.8rem;
  --border-fit-orange: 0.1rem solid #FE6A0F;
  --border-fit-white: 0.1rem solid #ffffff;
}

::selection {
  color: var(--laranja-cor-botoes);
}

/* estilos padrão */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.8rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

/* padrão geral do html */
/* container */
.container {
  width: 100%;
  margin: auto;
  max-width: 1200px;
}

html {
  /* equivale a tamanho 10px*/
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  color: var(--branco-texto);
  font-family: var(--font-inter);
  background-color: var(--preto-background);
}

.logo a {
  font-size: 3.8rem;
  text-decoration: none;
  color: var(--branco-texto);
  font-family: var(--font-calistoga);
}

.logo a span {
  line-height: 3.8rem;
  color: var(--laranja-cor-botoes);
}

/* header */
header {
  padding: 0 4rem;
}

header .container {
  gap: 5rem;
  display: flex;
  padding: 4.5rem 0;
  align-items: center;
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
}

header nav .leftside {
  flex: 1;
  gap: 4rem;
  display: flex;
}

header nav .leftside li {
  margin: 0 2rem;
}

header nav .leftside li a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--branco-texto);
}

header nav .leftside li a:hover {
  color: var(--cinza-fraco);
  transition: var(--transition-hover);
}

header nav .rightside a.button {
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 1.5rem 2.5rem;
  color: var(--branco-texto);
  border: 0.1rem solid var(--branco-texto);
  font-size: 1.4rem;
  display: flex;
}

header nav .rightside a.button:hover {
  border: var(--border-fit-orange);
  transition: var(--transition-hover);
  background: var(--laranja-cor-botoes);
}

header .hamburguerMenu {
  display: none;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
}

header .hamburguerMenu .square {
  width: 3rem;
  height: 0.4rem;
  margin: 0.2rem 0;
  background-color: var(--branco-texto);
}


/* hero section */
.hero {
  padding: 0 4rem;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hero .heroleft,
.hero .heroright {
  flex: 1;
}

.hero .heroleft {
  margin-bottom: 15rem;
}

.hero .heroright {
  text-align: center;
}

.hero .heroright img {
  width: auto;
  height: 50.8rem;
}

.hero .heroleft h1,
.hero .heroleft span {
  font-size: 5.3rem;
  line-height: 6.4rem;
  margin-bottom: 2rem 0;
  font-family: var(--font-calistoga);
}

.hero .heroleft span {
  color: var(--laranja-cor-botoes);
}

.hero .heroleft p {
  margin: 4rem 0;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-family: var(--font-inter);
}

.hero .heroleft .herobutton {
  font-size: 1.6rem;
  text-align: center;
  padding: 2rem 8rem;
  text-decoration: none;
  display: inline-block;
  color: var(--branco-texto);
  border: var(--border-fit-orange);
  transition: var(--transition-hover);
  border-radius: var(--border-radius-5px);
  background-color: var(--laranja-cor-botoes);
}

.hero .heroleft .herobutton:hover {
  opacity: 0.8;
  background-color: transparent;
  transition: var(--transition-hover);
}

/* search area */
.search {
  padding: 8rem 0rem;
  margin-top: -12rem;
  background-color: var(--preto-cinza-medium);
}
.search .searchtitle h2 {
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: 3.2rem;
}
.search .searchsides {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0;
  gap: 10rem;
}
.search .searchsides .searchleft,
.search .searchsides .searchright {
  flex: 1;
}
.search .searchsides .searchleft input,
.search .searchsides .searchright select {
  border: 0;
  width: 100%;
  padding: 2rem;
  outline: none;
  color: var(--branco-texto);
  background-color: var(--preto-cinza);
  border-radius: var(--border-radius-5px);
}
.search .searchsides .searchleft input {
  background-image: url(../img/searchIcon.png);
  background-repeat: no-repeat;
  background-position: 2rem center;
  padding-left: 5rem;
}
.search .searchsides .searchright select {
  border-right: 2rem solid transparent;
}
.search .searchsides .searchleft input::placeholder {
  color: var(--cinza-placeholder);
}

/* products area */

main .productgrid {
  gap: 2rem;
  display: grid;
  margin: 4rem 0;
  grid-template-columns: repeat(3, 1fr);
}
main .productgrid .productitem {
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  border-radius: var(--border-radius-8px);
}
main .productgrid .productitem:hover{
  opacity: 0.8;
}
main .productgrid .productitem .productwarning {
  top: 3rem;
  left: 3rem;
  font-size: 1.4rem;
  position: absolute;
  padding: 1rem 1.6rem;
  color: var(--branco-texto);
  border-radius: var(--border-radius-5px);
  background-color: var(--laranja-cor-botoes);
}
main .productgrid .productitem .productphoto {
  text-align: center;
  padding-top: 4.5rem;
  background-color: var(--preto-cinza);
}
main .productgrid .productitem .productphoto img{
  max-width: 100%;
}
main .productgrid .productitem .productinfo {
  margin-top: -5rem;
  padding: 6rem 3rem 3rem 3rem;
  background-color: var(--preto-cinza-medium);
}
main .productgrid .productitem .productinfo .productcategory {
  margin: 1rem 0;
  font-size: 1.8rem;
  color: var(--branco-texto);
}
main .productgrid .productitem .productinfo .productname {
  margin: 1rem 0;
  font-size: 3.2rem;
  color: var(--branco-texto);
  font-family: var(--font-calistoga);
}
main .productgrid .productitem .productinfo .productprice {
  font-size: 3.2rem;
  font-weight: bold;
  font-family: var(--font-inter);
  color: var(--laranja-cor-botoes);
}

/* media querys, layout responsivo tablet */
@media (max-width: 820px) {
  header nav {
    flex: 1;
    display: none;
  }

  header .hamburguerMenu {
    display: flex;
  }

  .hero {
    padding: 0 1rem;
  }

  .hero .container {
    flex-direction: column;
  }

  .hero .heroleft {
    padding: 0;
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  .hero .heroleft h1,
  .hero .heroleft span {
    font-size: 3.9rem;
    line-height: 5.8rem;
  }

  .hero .heroleft .herobutton {
    margin: 0 auto;
  }

  .hero .heroright img {
    height: 35rem;
    padding-bottom: 5rem;
  }

  .search {
    text-align: center;
    padding-bottom: 3rem;
  }

  .search .searchsides {
    flex-direction: column;
    padding: 3rem 1rem;
    gap: 3rem;
  }
    main .productgrid {
      grid-template-columns:  repeat(2, 1fr);
      padding: 0 3rem;
    }
}
@media (max-width: 500px){
  main .productgrid{
    grid-template-columns: 1fr;
    padding: 3rem 2rem;
  }
}